/********************************Tag selector********************************/


body {
    background-color: mediumaquamarine;
}

h1 {
    color:red;
    font-size:100px;
}

img:hover{
    background-color: gold;
}

/********************************Class selector********************************/

.bacon {
    background-color:green;
}

.broccoli {
    background-color:red
}

/********************************ID selector********************************/
#heading {
    color:blue;
}